body {
    padding-top: 56px;
    background-color: #f8f9fa; /* Warna latar belakang */
}

header {
    padding: 20px 0;
    position: relative;
    background-color: #343a40; /* Warna latar belakang header */
    color: #ffffff; /* Warna teks header */
}

.profile-picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-bottom: 15px;
}

header h1 {
    margin-bottom: 0;
}

section {
    margin-bottom: 40px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    cursor: pointer;
}

/* Warna latar belakang untuk setiap bagian */
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

/* Warna latar belakang untuk menu navigasi */
.navbar {
    background-color: #343a40;
}

/* Warna teks dan ikon untuk menu navigasi */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}

#contact {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
}

.social-icons img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.2); 
}